body {
  margin: 0;
  -webkit-box-sizing: border-box;
  display:block;
}

.wrapper {
  width: 80%;
  height: 80%;
  margin: auto;
}

.frame {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vh;
  height: 100vh;
  
  box-shadow: 1px 1px 10px 1px lightgray;
  margin: auto;
}

#blue{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1em;
background-color: coral;
height:100vh;
}


.column{
  float:left;
  width:50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}